<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Manager</title>

    <link rel="stylesheet" href="../assets/styles/general.css" />
    <link rel="stylesheet" href="../assets/styles/main.css" />
    <link rel="stylesheet" href="../assets/styles/table.css" />
    <link rel="stylesheet" href="../assets/styles/form.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">User Management System</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="box-nav d-flex justify-between">
          <a href="/add-user" class="border-shadow">
            <span class="text-gradient">New User <i class="fas fa-user" aria-hidden="true"></i></span>
          </a>
        </div>

        <form action="/" method="post">
          <table>
            <caption>
              Users Data
            </caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="ID">1</td>
                <td data-label="Name">Username</td>
                <td data-label="Email">example@gmail.com</td>
                <td data-label="Gender">Male</td>
                <td data-label="Status">Active</td>
                <td data-label="Action">
                  <a href="#" class="btn border-shadow update">
                    <span class="text-gradient"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
                  </a>
                  <a class="btn border-shadow delete">
                    <span class="text-gradient"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </main>

    <script src="https://kit.fontawesome.com/7b398c8c44.js" crossorigin="anonymous"></script>
  </body>
</html>
